.top {
    width: 80%;
    margin: auto;
}

.app-title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;

    p {
        margin-top: 1em;
    }

    .title {
        display: flex;
        justify-content: center;
        
        .logo-area {
            img {
                width: 32px;
                height: auto;
            }
        }
    }
}

