.slider {

    .new-list {
        display: flex;
        flex-wrap: wrap;

        .job-summary {
            border: 1px solid gray;
            margin: 1em 0.5em 2em 0.5em;
            padding: 10px;

            h4 {
                margin-bottom: 0.5em;
            }

            span {
                color: magenta;
                font-weight: bold;
            }
        }
    }
}