.basic_input {
    input {
        margin-top: 0.5em;
        margin-bottom: 1em;
        padding: 1em;
        width: 100%;
        height: 45px;
        border-radius: 5px;
        background-color: rgb(208, 226, 248);
        border: solid 1px gray;
        position: relative;
    }
}

